// colors
$c_background: rgba(255, 254, 251, 0.8);
$c_white: #FFF;
$c_grey: #B4B4B4;;
$c_muted: #EEEEEE;
$c_black: #3F3F3F;
$c_red: #FF8484;
$c_green: #7BAE73;

* {
  font-family: 'Source Sans', sans-serif;
  color: $c_black;
}